
*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}
body{
	font-size: 20px;
	overflow-x: hidden;
	color: orange;
	font-family: 'Flamenco', cursive;
}
header{
	background-image:linear-gradient(rgba(0.5,0.7,0,0),rgba(0,0.5,0,0)),url('../images/admin.jpg');
	background-size: cover;
     background-repeat: no-repeat;
	height:100vh;
}
.clearfix:after{
	content:".";
	visibility: hidden;
	display: block;
	height: 0px;
	clear: both;
}

.row{
	max-width: 1180px;
	margin: 0 auto;
}

.ipay
{
	height:120px;
	width: 200px;
	float:left;
	margin-top: 20px;
}
.main-nav{
	float: right;
	margin-top: 60px;
}

.main-nav li{
 display :inline-block;
 list-style: none;
 margin-left: 40px;
}

.main-nav li a{
	padding: 5px 0;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size:90%; 
	font-weight: 100px;


}

.main-nav li a:hover{
	border-bottom :2px solid #FFA500;
}
.main-content-header{

	width: 1180px;
	position: absolute;
	/*border: 0.1px solid orange*/;
	top:55%;
	left:50%;
	transform: translate(-50%,-50%);


}
h1{
	color:#ff;
	font-size:240%;
	word-spacing: 5px;
	letter-spacing: 3px;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-weight:200px;


}
.btn{
	display: inline-block;
	padding: 10px ,30px;
	font-weight: 300;
	text-decoration: none;
	text-transform: uppercase;
	border-radius:200px;
	transition: background-color 0.2s, border 0.2s, color 0.2;
}

.btn-full{

	background-color: transparent;
	color : #fff	;
	margin-right: 15px;
	border:1.5px solid #FFA500

}

.btn-full:hover
{

background-color:purple;
}
.btn-nav{

	background-color:transparent;
	color: #fff;
	border: 1.5px solid #FFA500;
}
.btn-nav:hover
{

background-color:purple;
}
.colorchange{
	animation: colorchangesecure 1s infinite;
}

@keyframes colorchangesecure{
	0%{color:red;}
	25%{color:#4682B4;}
	50%{color:white;}
	100%{color:red;}


}
.mobile-icon{display:none;}

@media only screen and (max-width:500px){
	.main-contant-header{
		width:100%;
		padding:0 2%;


	}
}
@media only screen and (max-width:998px){
	h1{font-size:200%;}
}
@media only screen and(max-width : 768px){
	h1{font-size:180%;}
	.main-nav{display:none;}
	.mobile-icon{
		display : inline-block;
		color:#fff;
		float:left;
		margin-top:400px;
		margin-right: 100px;
	}
.main-nav{
	float: left;
}
	.main-nav li
	{
		
		display:block;
		margin-top:10px;
	}
}
@media only screen and(max-width:1180px){
	.btn-full{
		margin-bottom: 200px;
	}
	h1{font-size:500%;}
}
